<!DOCTYPE html>

<html lang="en">

<head>
  <meta charset="utf-8">
  <title>Zen: Apps using PyScript</title>
  <meta charset="utf-8">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link rel="stylesheet" href="/css/styles.css">
  <py-script> print('Now you can!') </py-script>
</head>
<body>
