
<%- include("headerbar"); -%>
<div class="spacer" style="height:50px;"></div>
<div class="container d-flex justify-content-center border-downer-radius" style="padding: 10px; background-color: rgba(0,0,0,.5); color: #fff; max-width: 650px;">
  <div class="about">
    <div class="card-container container d-flex justify-content-center">
      <div class="card" style="width: 26rem; color: black;">
        <img src="/img/profile_img01.jfif" alt="Profile Image for Adam Dellow" class="bd-placeholder-img card-img-top" max-width="150px" max-height="150px" focusable="false">

        <div class="card-body">
          <h5 class="card-title"><b>Adam Dellow</b></h5>
          <h5 class="card-title">Contact Information:</h5>
          <ul>
            <li><img src="/svg/ico_map.svg" alt="location"> Ontario, Canada</li>
            <li><img src="/svg/ico_mail.svg" alt="email"> zen.webapps@gmail.com </li>
            <li><img src="/svg/ico_phone.svg" alt="phone"> 289-696-7478 </li>
          </ul>
          <h5 class="card-title">Programming Languages</h5>
          <ul>
            <li><img src="/svg/ico_code01.svg" alt="code"> Javascript</li>
            <li><img src="/svg/ico_code02.svg" alt="code"> C# / .NET </li>
            <li><img src="/svg/ico_code03.svg" alt="code"> Python </li>
            <li><img src="/svg/ico_code03.svg" alt="code"> Kotlin / Java </li>
          </ul>
          <h5 class="card-title">Frameworks</h5>
          <ul>
            <li><img src="/svg/ico_code01.svg" alt="code"> React</li>
            <li><img src="/svg/ico_code02.svg" alt="code"> Bootstrap </li>
            <li><img src="/svg/ico_code03.svg" alt="code"> jQuery </li>
            <li><img src="/svg/ico_code03.svg" alt="code"> Flutter </li>
          </ul>
          <h5 class="card-title">Graphic Design</h5>
          <ul>
            <li><img src="/svg/ico_code01.svg" alt="code"> Illustrator</li>
            <li><img src="/svg/ico_code02.svg" alt="code"> CSS </li>
            <li><img src="/svg/ico_code03.svg" alt="code"> AfterEffects</li>
            <li><img src="/svg/ico_code03.svg" alt="code"> Photoshop</li>
          </ul>
          <h5 class="card-title">Database Technologies</h5>
          <ul>
            <li><img src="/svg/ico_code01.svg" alt="Mongo DB"> MongoDB / Mongoose</li>
            <li><img src="/svg/ico_code02.svg" alt="SQL"> SQL</li>
            <li><img src="/svg/ico_code03.svg" alt="MySQL"> MySQL </li>
            <li><img src="/svg/ico_code01.svg" alt="TSQL"> TSQL </li>
            <li><img src="/svg/ico_code03.svg" alt="SQL-LITE"> SQL-Lite </li>
          </ul>
          <h5 class="card-title">Server / Sys-Admin / InfoSec</h5>
          <ul>
            <li><img src="/svg/ico_code01.svg" alt="Mongo DB"> Powershell</li>
            <li><img src="/svg/ico_code02.svg" alt="SQL"> .Net</li>
            <li><img src="/svg/ico_code03.svg" alt="SQL-LITE"> Azure </li>
            <li><img src="/svg/ico_code03.svg" alt="MySQL"> Node.js </li>
            <li><img src="/svg/ico_code01.svg" alt="TSQL"> VMWare / VirtualBox </li>
            <li><img src="/svg/ico_code03.svg" alt="SQL-LITE"> Github </li>
            <li><img src="/svg/ico_code03.svg" alt="SQL-LITE"> Metasploitable </li>
            <li><img src="/svg/ico_code03.svg" alt="SQL-LITE"> Burpsuite </li>
            <li><img src="/svg/ico_code03.svg" alt="SQL-LITE"> Wireshark </li>
            <li><img src="/svg/ico_code03.svg" alt="SQL-LITE"> AWS / Salesforce / Heroku </li>
          </ul>
        </div>
      </div>
      <div class="card-container container d-flex justify-content-center">
        <div class="card" style="width: 32rem; color: black;">
          <div class="card-body">
            <img src="/img/profile_header01.jpg" alt="Profile Header" width="300" max-height="200">
            <div class="spacer" style="height:50px;"></div>
            <h5 class="card-title"><b>About the Developer: </b></h5>
            <p class="biography">
                Self-Taught Developer, with a range of skills you can see listed here. I've focussed on
                many different things, such as Web Development and Game Developement, in terms of creating
                software and applications.
            </p><br/>
            <p>
              This site in particular has been hand coded with Node.js, using Mongoose, and hosting on
              Heroku, a system that uses Amazon Web Services, so many of the skills listed are self-evident.
            </p><br/>
            <p>
              I am an active community member, participating in Stack-Overflow conversations, sharing code
              on Github and Codepen.
             </p><br/>
             <p>
               Here is an example of the VR Art Gallery I made for the Oculus Go without funding, and on my own.
              </p><br/>
             <iframe width="300" height="200" src="https://www.youtube.com/embed/SGiCBPobRpg" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe><br/>
             <p>
               I'm on various Social Media platforms I actively partipate in, or show my work through. Find me there, and I'll respond.
              </p><br/>
            <a href="https://github.com/atomdellow"><img src="/svg/ico_github.svg" alt="github" width="50" height="50"></a>
            <a href="https://stackoverflow.com/users/19034081/atom-dellow"><img src="/svg/ico_stack.svg" alt="stack-overflow" width="50" height="50"></a>
            <a href="https://twitter.com/Atomdellow"><img src="/svg/ico_twitter.svg" alt="twitter" width="50" height="50"></a>
            <a href="https://www.linkedin.com/in/atom-dellow-86729093/"><img src="/svg/ico_linkedin.svg" alt="linked in" width="50" height="50"></a>
            <a href="https://codesandbox.io/dashboard/home?workspace=f62df5db-81c4-49c9-9e5c-64e0b7f73b0b"><img src="/svg/ico_square.svg" alt="square" width="50" height="50"></a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<%- include("partials/footer"); -%>
