
<%- include("headerbar"); -%>
<div class="spacer" style="height:50px;"></div>
<div class="container d-flex justify-content-center border-downer-radius" style="padding: 10px; background-color: rgba(0,0,0,.5); color: #fff; max-width: 500px;">
  <div class="apps-title justify-content-center flex-column" >
    <div class="card border-rounded text-dark" style="padding:10px;">
      <h1>Apps Developed!</h1>
      <p>This site will contain the Apps I'm working on. </p><br/>
      <p>At this time, I have not installed them, please contact me from the profile contact information or come back at a later time. </p>
    </div>
    <div class="spacer" style="height:35px;"></div>
    <div class="card applist border-rounded text-dark" style="padding:10px;">
      <ul>
        <li>Task Platform</li>
        <li>Training</li>
        <li>Knowledgebase</li>
        <li>API Usage</li>
        <li>Converters</li>
        <li>AI</li>
        <li>Canvas Animations</li>
        <li>Color Generators</li>
        <li>Keeper App</li>
        <li>Chat</li>
        <li>Blog</li>
        <li>Twilio Apps</li>
        <li>Todo List</li>
        <li>Calendar</li>
        <li>Bots</li>
      </ul>
    </div>
  </div>
</div>



<%- include("partials/footer"); -%>
