
<%- include("headerbar"); -%>
<div class="spacer" style="height:50px;"></div>
<div class="container d-flex justify-content-center border-downer-radius" style="padding: 10px; background-color: rgba(0,0,0,.5); color: #fff; max-width: 500px;">
  <div class="contact">
    <h1>Contact!</h1>
    <p>I have a few profiles and online pressence.</p>
  </div>
</div>

<%- include("partials/footer"); -%>
