<%- include("partials/header"); -%>

<div class="container">
  <nav class="headerbar d-flex justify-content-center">
    <div class="justify-content-center">
      <nav class="navbar navbar-expand-sm navbar-dark bg-dark border-downer-radius " style="box-shadow: 3px 10px 10px 10px aqua;">
        <div class="navbar-header" style="position: relative;">
          <p class="navbar-brand" style="position: absolute;  padding: 10px; left: 0; margin: 10;">Zen: Apps</p>
          <img src="/svg/logo.svg" alt="Logo for Zen App">
        </div>
        <div style="width:100px;"></div>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
          <div class="navbar-nav ">
            <a class="nav-item nav-link" href="/">HOME</a>
            <a class="nav-item nav-link" href="/apps">APPS</a>
            <a class="nav-item nav-link" href="/blog">BLOG</a>
            <a class="nav-item nav-link" href="/about">ABOUT</a>

          </div>
        </div>
      </nav>
    </div>
  </nav>
