<%- include("headerbar.ejs"); -%>
<div class="spacer" style="height:50px;"></div>
<div class="container d-flex justify-content-center"style="padding: 10px; background-color: rgba(0,0,0,.5); color: #fff; max-width: 500px;">
  <div class="container card-body d-flex justify-content-center">
    <div class="login">
      <h1>Login</h1><br>
      <!-- Makes POST request to /login route -->
      <div class="login-form">
        <form action="/login" method="POST">
          <div class="form-group">
            <label for="email">Email</label>
            <input type="email" class="form-control" name="username">
          </div>
          <div class="form-group">
            <label for="password">Password</label>
            <input type="password" class="form-control" name="password">
          </div>
          <button type="submit" class="btn btn-dark">Login</button>
        </form><br>
        <div class="register">
          <p><a href="/register">Register</a> to create an account</p>
        </div>
          <!-- <div class="card">
            <div class="card-body">
              <a class="btn btn-block btn-social btn-google" href="/auth/google" role="button">
                <i class="fab fa-google"></i>
                Sign In with Google
              </a>
            </div>
          </div> -->
      </div>
    </div>


  </div>
</div>




<%- include("partials/footer"); -%>
