<%- include("headerbar"); -%>
<div class="spacer" style="height:7px;"></div>
<div class="container d-flex justify-content-center border-downer-radius" style="background-color: rgba(0,0,0,.5); color: #fff; max-width: 50%;">
  <h1><b>Profile</b>:</h1>

  <div style="background-color: #1abc9c; width: 100px; height: 100px; radius: 10; border-radius: 100%"></div>
  <p>
    <b>Username</b>: <br>
    <b>Join Date</b>:<br>
    <b>Last Active</b>:<br>
    <b>Posts</b>:<br>
    <b>Languages known</b>:<br>
    <br>
    <b>Settings</b>:<br>
    <b>Edit</b>:<br>

  </p>
</div>


<%- include("partials/footer"); -%>
