<%- include("headerbar"); -%>
<div class="spacer" style="height:50px;"></div>
<div class="container d-flex justify-content-center border-downer-radius " style="padding: 10px; background-color: rgba(0,0,0,.5); color: #fff; max-width: 700px;">
  <a href="/template-page"><svg xmlns="http://www.w3.org/2000/svg" width="64" height="64" style="padding:10px;" fill="currentColor" class="bi bi-arrow-left-circle-fill" viewBox="0 0 16 16">
    <path d="M8 0a8 8 0 1 0 0 16A8 8 0 0 0 8 0zm3.5 7.5a.5.5 0 0 1 0 1H5.707l2.147 2.146a.5.5 0 0 1-.708.708l-3-3a.5.5 0 0 1 0-.708l3-3a.5.5 0 1 1 .708.708L5.707 7.5H11.5z"/>
  </svg></a>
  <div class="card text-dark" style="padding:10px;">
    <h1>Coming Soon!</h1>
  </div>
</div>

<%- include("partials/footer"); -%>
