
<%- include("headerbar"); -%>
<div class="spacer" style="height:50px;"></div>
<div class="container d-flex justify-content-center border-downer-radius" style="padding: 10px; background-color: rgba(0,0,0,.5); color: #fff; max-width: 500px;">
    <div class="template-body">
      <h1>Templates</h1><br>
      <p>Generally a section for templates used for programming and various situations. </p><br>
      <ul>
        <li><a href="/bootstrap">Website Designs</a></li>
        <li>Server Templates</li>
        <li>Scripts</li>
        <li>Database</li>
        <li>Nav Bars</li>
        <li>Logins</li>
        <li>Color-Pallettes</li>
        <li>Profiles</li>
        <li>Content Creation</li>
      </ul>
    </div>
</div>

<%- include("partials/footer"); -%>
