<%- include("headerbar"); -%>
<div class="spacer" style="height:50px;"></div>
<div class="container justify-contents-center flex-column"
  style="background-color: rgba(0,0,0,.5); color:white; padding:10px;" >
  <a href="/templates"><svg xmlns="http://www.w3.org/2000/svg" width="64" height="64" style="padding:10px;" fill="currentColor" class="bi bi-arrow-left-circle-fill" viewBox="0 0 16 16">
    <path d="M8 0a8 8 0 1 0 0 16A8 8 0 0 0 8 0zm3.5 7.5a.5.5 0 0 1 0 1H5.707l2.147 2.146a.5.5 0 0 1-.708.708l-3-3a.5.5 0 0 1 0-.708l3-3a.5.5 0 1 1 .708.708L5.707 7.5H11.5z"/>
  </svg></a>
  <div class="card text-dark" style="padding:10px;">
    <div class="container text-center" style="padding:10px;">
      <h2>Nav Bar Templates</h2>
      <p>Here are some examples of Navigation Bars, based on various client's needs</p>
    </div>
  </div>

<!-- theme styling buttons -->
  <div class="site-style" style="color:black;">

  </div>

  <div class="spacer" style="height:32px;"></div>
  <div class="container" >
    <!-- white navbar -->
    <div class="navbar navbar-expand-lg bg-light d-flex justify-content-between rounded-left">
      <div class="justify-content-start">
        <img src="/svg/logo.svg" alt="logo" style="position:absolute; left: -2.5%; transform: translatey(-50%);transform:" />
      </div>
      <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="#">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Portfolio</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Pricing</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Art Medium
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
              <li><a class="dropdown-item" href="#">Photography</a></li>
              <li><a class="dropdown-item" href="#">Graphic Design</a></li>
              <li><a class="dropdown-item" href="#">Videography</a></li>
            </ul>
          </li>
        </ul>
      </div>
      <div class="spacer"></div>
      <!-- social media icons -->
      <div class="social">
        <img src="/svg/ico_facebook.svg" alt="Facebook Icon">
        <img src="/svg/ico_instagram.svg" alt="Instagram Icon">
        <img src="/svg/ico_youtube.svg" alt="Youtube Icon">
      </div>
    </div>
    <div class="spacer" style="height:48px;" id="color-picked"></div>

    <!-- dark nav bar -->
    <div class="navbar navbar-expand-lg bg-dark rounded-bottom" style="color: orange; fill: white; box-shadow: 10px 10px 30px 5px black">
      <img src="/svg/logo.svg" alt="logo" style="position:absolute; left: 48.5%; transform: translatey(-80%);transform:" />
        <div class="collapse navbar-collapse text-light justify-content-center" id="navbarNavDropdown" style="color: white;">
          <ul class="navbar-nav ">
            <li class="nav-item">
              <a class="nav-link active text-light" aria-current="page" href="#">News</a>
            </li>
            <li class="nav-item">
              <a class="nav-link text-light" href="#">Technology</a>
            </li>
            <li class="nav-item">
              <a class="nav-link text-light" href="#">Sports</a>
            </li>
            <li class="nav-item">
              <a class="nav-link text-light" href="#"  role="button"  aria-expanded="false">
                Wellness
              </a>
            </li>
          </ul>
        </div>
        <div class="spacer"></div>
        <!-- social media icons -->
        <div class="social" style="position: absolute; left: 46.5%; transform: translatey(120%); color: teal;">
          <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="currentColor" class="bi bi-facebook" viewBox="0 0 32 32">
            <path d="M16 8.049c0-4.446-3.582-8.05-8-8.05C3.58 0-.002 3.603-.002 8.05c0 4.017 2.926 7.347 6.75 7.951v-5.625h-2.03V8.05H6.75V6.275c0-2.017 1.195-3.131 3.022-3.131.876 0 1.791.157 1.791.157v1.98h-1.009c-.993 0-1.303.621-1.303 1.258v1.51h2.218l-.354 2.326H9.25V16c3.824-.604 6.75-3.934 6.75-7.951z"/>
          </svg>
          <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="currentColor" class="bi bi-instagram" viewBox="0 0 32 32">
            <path d="M8 0C5.829 0 5.556.01 4.703.048 3.85.088 3.269.222 2.76.42a3.917 3.917 0 0 0-1.417.923A3.927 3.927 0 0 0 .42 2.76C.222 3.268.087 3.85.048 4.7.01 5.555 0 5.827 0 8.001c0 2.172.01 2.444.048 3.297.04.852.174 1.433.372 1.942.205.526.478.972.923 1.417.444.445.89.719 1.416.923.51.198 1.09.333 1.942.372C5.555 15.99 5.827 16 8 16s2.444-.01 3.298-.048c.851-.04 1.434-.174 1.943-.372a3.916 3.916 0 0 0 1.416-.923c.445-.445.718-.891.923-1.417.197-.509.332-1.09.372-1.942C15.99 10.445 16 10.173 16 8s-.01-2.445-.048-3.299c-.04-.851-.175-1.433-.372-1.941a3.926 3.926 0 0 0-.923-1.417A3.911 3.911 0 0 0 13.24.42c-.51-.198-1.092-.333-1.943-.372C10.443.01 10.172 0 7.998 0h.003zm-.717 1.442h.718c2.136 0 2.389.007 3.232.046.78.035 1.204.166 1.486.275.373.145.64.319.92.599.28.28.453.546.598.92.11.281.24.705.275 1.485.039.843.047 1.096.047 3.231s-.008 2.389-.047 3.232c-.035.78-.166 1.203-.275 1.485a2.47 2.47 0 0 1-.599.919c-.28.28-.546.453-.92.598-.28.11-.704.24-1.485.276-.843.038-1.096.047-3.232.047s-2.39-.009-3.233-.047c-.78-.036-1.203-.166-1.485-.276a2.478 2.478 0 0 1-.92-.598 2.48 2.48 0 0 1-.6-.92c-.109-.281-.24-.705-.275-1.485-.038-.843-.046-1.096-.046-3.233 0-2.136.008-2.388.046-3.231.036-.78.166-1.204.276-1.486.145-.373.319-.64.599-.92.28-.28.546-.453.92-.598.282-.11.705-.24 1.485-.276.738-.034 1.024-.044 2.515-.045v.002zm4.988 1.328a.96.96 0 1 0 0 1.92.96.96 0 0 0 0-1.92zm-4.27 1.122a4.109 4.109 0 1 0 0 8.217 4.109 4.109 0 0 0 0-8.217zm0 1.441a2.667 2.667 0 1 1 0 5.334 2.667 2.667 0 0 1 0-5.334z"/>
          </svg>

          <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="currentColor" class="bi bi-youtube" viewBox="0 0 28 28">
            <path d="M8.051 1.999h.089c.822.003 4.987.033 6.11.335a2.01 2.01 0 0 1 1.415 1.42c.101.38.172.883.22 1.402l.01.104.022.26.008.104c.065.914.073 1.77.074 1.957v.075c-.001.194-.01 1.108-.082 2.06l-.008.105-.009.104c-.05.572-.124 1.14-.235 1.558a2.007 2.007 0 0 1-1.415 1.42c-1.16.312-5.569.334-6.18.335h-.142c-.309 0-1.587-.006-2.927-.052l-.17-.006-.087-.004-.171-.007-.171-.007c-1.11-.049-2.167-.128-2.654-.26a2.007 2.007 0 0 1-1.415-1.419c-.111-.417-.185-.986-.235-1.558L.09 9.82l-.008-.104A31.4 31.4 0 0 1 0 7.68v-.123c.002-.215.01-.958.064-1.778l.007-.103.003-.052.008-.104.022-.26.01-.104c.048-.519.119-1.023.22-1.402a2.007 2.007 0 0 1 1.415-1.42c.487-.13 1.544-.21 2.654-.26l.17-.007.172-.006.086-.003.171-.007A99.788 99.788 0 0 1 7.858 2h.193zM6.4 5.209v4.818l4.157-2.408L6.4 5.209z"/>
          </svg>
        </div>
    </div>
    <div class="spacer" style="height:32px;"></div>
    <div class="navbar navbar-expand-lg bg-dark rounded-5" style="color: orange;">

        <img src="/svg/logo.svg" alt="logo" style="position:absolute; left: 1%; transform: translatey(0%);transform:" />
      <div class="collapse navbar-collapse text-light justify-content-end" id="navbarNavDropdown" style="color: orange;">
        <div class="search">
          <input type="text" name="search"  placeholder-value="Search" style="max-width:30rem; left:6%; position: absolute; transform: translatey(-50%)">
          <svg xmlns="http://www.w3.org/2000/svg" width="128" height="128" fill="currentColor" class="bi bi-search" viewBox="0 0 64 64" style="position:absolute; left:26.5%; transform: translatey(-10%);">
            <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z"/>
          </svg>
        </div>

        <ul class="navbar-nav ">
          <li class="nav-item">
            <a class="nav-link active text-light" aria-current="page" href="#">News</a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-light" href="#">Technology</a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-light" href="#">Sports</a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-light" href="#"  role="button"  aria-expanded="false">
              Wellness
            </a>
          </li>
        </ul>
      </div>
      <div class="spacer"></div>
      <!-- social media icons -->
      <div class="social" style="position: absolute; right: 0%; transform: translatey(-50%); color: teal;">
        <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="currentColor" class="bi bi-facebook" viewBox="0 0 32 32">
          <path d="M16 8.049c0-4.446-3.582-8.05-8-8.05C3.58 0-.002 3.603-.002 8.05c0 4.017 2.926 7.347 6.75 7.951v-5.625h-2.03V8.05H6.75V6.275c0-2.017 1.195-3.131 3.022-3.131.876 0 1.791.157 1.791.157v1.98h-1.009c-.993 0-1.303.621-1.303 1.258v1.51h2.218l-.354 2.326H9.25V16c3.824-.604 6.75-3.934 6.75-7.951z"/>
        </svg>
        <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="currentColor" class="bi bi-instagram" viewBox="0 0 32 32">
          <path d="M8 0C5.829 0 5.556.01 4.703.048 3.85.088 3.269.222 2.76.42a3.917 3.917 0 0 0-1.417.923A3.927 3.927 0 0 0 .42 2.76C.222 3.268.087 3.85.048 4.7.01 5.555 0 5.827 0 8.001c0 2.172.01 2.444.048 3.297.04.852.174 1.433.372 1.942.205.526.478.972.923 1.417.444.445.89.719 1.416.923.51.198 1.09.333 1.942.372C5.555 15.99 5.827 16 8 16s2.444-.01 3.298-.048c.851-.04 1.434-.174 1.943-.372a3.916 3.916 0 0 0 1.416-.923c.445-.445.718-.891.923-1.417.197-.509.332-1.09.372-1.942C15.99 10.445 16 10.173 16 8s-.01-2.445-.048-3.299c-.04-.851-.175-1.433-.372-1.941a3.926 3.926 0 0 0-.923-1.417A3.911 3.911 0 0 0 13.24.42c-.51-.198-1.092-.333-1.943-.372C10.443.01 10.172 0 7.998 0h.003zm-.717 1.442h.718c2.136 0 2.389.007 3.232.046.78.035 1.204.166 1.486.275.373.145.64.319.92.599.28.28.453.546.598.92.11.281.24.705.275 1.485.039.843.047 1.096.047 3.231s-.008 2.389-.047 3.232c-.035.78-.166 1.203-.275 1.485a2.47 2.47 0 0 1-.599.919c-.28.28-.546.453-.92.598-.28.11-.704.24-1.485.276-.843.038-1.096.047-3.232.047s-2.39-.009-3.233-.047c-.78-.036-1.203-.166-1.485-.276a2.478 2.478 0 0 1-.92-.598 2.48 2.48 0 0 1-.6-.92c-.109-.281-.24-.705-.275-1.485-.038-.843-.046-1.096-.046-3.233 0-2.136.008-2.388.046-3.231.036-.78.166-1.204.276-1.486.145-.373.319-.64.599-.92.28-.28.546-.453.92-.598.282-.11.705-.24 1.485-.276.738-.034 1.024-.044 2.515-.045v.002zm4.988 1.328a.96.96 0 1 0 0 1.92.96.96 0 0 0 0-1.92zm-4.27 1.122a4.109 4.109 0 1 0 0 8.217 4.109 4.109 0 0 0 0-8.217zm0 1.441a2.667 2.667 0 1 1 0 5.334 2.667 2.667 0 0 1 0-5.334z"/>
        </svg>

        <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="currentColor" class="bi bi-youtube" viewBox="0 0 28 28">
          <path d="M8.051 1.999h.089c.822.003 4.987.033 6.11.335a2.01 2.01 0 0 1 1.415 1.42c.101.38.172.883.22 1.402l.01.104.022.26.008.104c.065.914.073 1.77.074 1.957v.075c-.001.194-.01 1.108-.082 2.06l-.008.105-.009.104c-.05.572-.124 1.14-.235 1.558a2.007 2.007 0 0 1-1.415 1.42c-1.16.312-5.569.334-6.18.335h-.142c-.309 0-1.587-.006-2.927-.052l-.17-.006-.087-.004-.171-.007-.171-.007c-1.11-.049-2.167-.128-2.654-.26a2.007 2.007 0 0 1-1.415-1.419c-.111-.417-.185-.986-.235-1.558L.09 9.82l-.008-.104A31.4 31.4 0 0 1 0 7.68v-.123c.002-.215.01-.958.064-1.778l.007-.103.003-.052.008-.104.022-.26.01-.104c.048-.519.119-1.023.22-1.402a2.007 2.007 0 0 1 1.415-1.42c.487-.13 1.544-.21 2.654-.26l.17-.007.172-.006.086-.003.171-.007A99.788 99.788 0 0 1 7.858 2h.193zM6.4 5.209v4.818l4.157-2.408L6.4 5.209z"/>
        </svg>
      </div>
    </div>
    <div class="spacer" style="height:32px;" id="color-picked"></div>
    <!-- white thin navbar -->
    <div class="navbar navbar-expand-lg bg-dark d-flex justify-content-evenly" style="color: orange; justify-content: space-between;">

      <div>
         <svg style="width:100%;" version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
            width="50px" height="50px" viewBox="0 0 307.388 303.733" enable-background="new 0 0 307.388 303.733"
            xml:space="preserve">
         <g>
           <path fill-rule="evenodd" clip-path="url(#cut-off-bottom)" fill="#090909" d="M138.978,0c10.667,0,21.334,0,32,0
             c2.875,1.417,6.07,1.409,9.119,2.051c49.993,10.526,88.909,35.955,111.26,83.29c12.915,27.354,19.19,55.877,14.459,86.331
             c-6.098,39.266-24.062,71.804-54.463,97.319c-23.762,19.942-52.001,29.868-82.201,33.889c-13.025,1.733-26.437,0.719-39.583-2.07
             c-44.923-9.529-80.794-31.863-104.292-72.293c-11.159-19.201-18.115-39.97-20.953-61.728c-1.764-13.522-1.144-27.522,1.809-41.141
             C19.627,63.418,56.508,22.903,117.857,4.891C124.833,2.842,132.412,3.632,138.978,0z M191.262,294.714
             c1.829,0.517,3.099,0.254,4.396-0.127c24.025-7.058,45.689-18.474,63.24-36.474c34.963-35.859,50.862-78.325,43.132-128.655
             c-4.454-28.999-15.688-54.855-35.612-76.536c-26.631-28.979-59.471-45.503-98.902-49.187c-25.54-2.385-47.604,3.574-65.746,22.546
             c-24.152,25.259-27.001,64.56-5.925,90.737c13.125,16.303,30.684,25.644,50.58,30.973c13.765,3.687,27.647,6.882,40.708,12.883
             c47.61,21.874,59.263,78.958,23.953,117.731C205.365,284.888,198.452,289.716,191.262,294.714z M155.584,239.135
             c7.29-0.031,12.487-5.223,12.528-12.514c0.042-7.624-5.143-12.725-12.829-12.619c-7.319,0.1-12.387,5.319-12.304,12.674
             C143.063,233.953,148.335,239.165,155.584,239.135z"/>
           <path fill-rule="evenodd" clip-path="url(#cut-off-bottom)" clip-rule="evenodd" fill="#00ACED" d="M191.262,294.714c7.189-4.998,14.103-9.826,19.823-16.108
             c35.31-38.773,23.657-95.857-23.953-117.731c-13.061-6.001-26.942-9.196-40.708-12.883c-19.896-5.329-37.455-14.67-50.58-30.973
             C74.768,90.841,77.618,51.54,101.77,26.281C119.911,7.31,141.975,1.351,167.515,3.735c39.432,3.684,72.271,20.207,98.902,49.187
             c19.924,21.681,31.158,47.537,35.612,76.536c7.73,50.33-8.169,92.796-43.132,128.655c-17.551,18-39.215,29.416-63.24,36.474
             C194.361,294.968,193.091,295.23,191.262,294.714z M155.639,89.199c7.437-0.017,12.507-5.088,12.532-12.537
             c0.027-7.561-5.307-12.774-12.951-12.661c-7.324,0.109-12.305,5.326-12.242,12.823C143.04,84.213,148.157,89.215,155.639,89.199z"
             />
           <path fill-rule="evenodd" clip-path="url(#cut-off-bottom)" clip-rule="evenodd" fill="#00ACED" d="M155.584,239.135c-7.249,0.03-12.522-5.182-12.604-12.459
             c-0.083-7.354,4.984-12.574,12.304-12.674c7.687-0.105,12.871,4.995,12.829,12.619
             C168.072,233.912,162.875,239.104,155.584,239.135z"/>
           <path fill-rule="evenodd" clip-rule="evenodd" fill="#090909" d="M155.639,89.199c-7.482,0.016-12.599-4.986-12.661-12.375
             c-0.063-7.497,4.918-12.714,12.242-12.823c7.645-0.113,12.979,5.101,12.951,12.661C168.146,84.111,163.076,89.183,155.639,89.199z"
             />
         </g>
         </svg>
      </div>

        <div class="nav-item">
          <p><a class="nav-link" href="#">Home</a></p>
        </div>
        <div class="nav-item">
          <p><a class="nav-link" href="#">Why Us</a></p>
        </div>
        <div class="nav-item">
          <p><a class="nav-link" href="#">Services</a></p>
        </div>
        <div class="nav-item">
          <p><a class="nav-link" href="#">Book Now</a></p>
        </div>
        <div class="nav-item">
          <p><a class="nav-link" href="#">Contact</a></p>
        </div>

      <div class="spacer"></div>
      <!-- social media icons -->
      <div class="social" style="position: absolute; right: 0%; transform: translatey(-50%); color: orange;">
        <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="currentColor" class="bi bi-facebook" viewBox="0 0 32 32">
          <path d="M16 8.049c0-4.446-3.582-8.05-8-8.05C3.58 0-.002 3.603-.002 8.05c0 4.017 2.926 7.347 6.75 7.951v-5.625h-2.03V8.05H6.75V6.275c0-2.017 1.195-3.131 3.022-3.131.876 0 1.791.157 1.791.157v1.98h-1.009c-.993 0-1.303.621-1.303 1.258v1.51h2.218l-.354 2.326H9.25V16c3.824-.604 6.75-3.934 6.75-7.951z"/>
        </svg>
        <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="currentColor" class="bi bi-instagram" viewBox="0 0 32 32">
          <path d="M8 0C5.829 0 5.556.01 4.703.048 3.85.088 3.269.222 2.76.42a3.917 3.917 0 0 0-1.417.923A3.927 3.927 0 0 0 .42 2.76C.222 3.268.087 3.85.048 4.7.01 5.555 0 5.827 0 8.001c0 2.172.01 2.444.048 3.297.04.852.174 1.433.372 1.942.205.526.478.972.923 1.417.444.445.89.719 1.416.923.51.198 1.09.333 1.942.372C5.555 15.99 5.827 16 8 16s2.444-.01 3.298-.048c.851-.04 1.434-.174 1.943-.372a3.916 3.916 0 0 0 1.416-.923c.445-.445.718-.891.923-1.417.197-.509.332-1.09.372-1.942C15.99 10.445 16 10.173 16 8s-.01-2.445-.048-3.299c-.04-.851-.175-1.433-.372-1.941a3.926 3.926 0 0 0-.923-1.417A3.911 3.911 0 0 0 13.24.42c-.51-.198-1.092-.333-1.943-.372C10.443.01 10.172 0 7.998 0h.003zm-.717 1.442h.718c2.136 0 2.389.007 3.232.046.78.035 1.204.166 1.486.275.373.145.64.319.92.599.28.28.453.546.598.92.11.281.24.705.275 1.485.039.843.047 1.096.047 3.231s-.008 2.389-.047 3.232c-.035.78-.166 1.203-.275 1.485a2.47 2.47 0 0 1-.599.919c-.28.28-.546.453-.92.598-.28.11-.704.24-1.485.276-.843.038-1.096.047-3.232.047s-2.39-.009-3.233-.047c-.78-.036-1.203-.166-1.485-.276a2.478 2.478 0 0 1-.92-.598 2.48 2.48 0 0 1-.6-.92c-.109-.281-.24-.705-.275-1.485-.038-.843-.046-1.096-.046-3.233 0-2.136.008-2.388.046-3.231.036-.78.166-1.204.276-1.486.145-.373.319-.64.599-.92.28-.28.546-.453.92-.598.282-.11.705-.24 1.485-.276.738-.034 1.024-.044 2.515-.045v.002zm4.988 1.328a.96.96 0 1 0 0 1.92.96.96 0 0 0 0-1.92zm-4.27 1.122a4.109 4.109 0 1 0 0 8.217 4.109 4.109 0 0 0 0-8.217zm0 1.441a2.667 2.667 0 1 1 0 5.334 2.667 2.667 0 0 1 0-5.334z"/>
        </svg>

        <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="currentColor" class="bi bi-youtube" viewBox="0 0 28 28">
          <path d="M8.051 1.999h.089c.822.003 4.987.033 6.11.335a2.01 2.01 0 0 1 1.415 1.42c.101.38.172.883.22 1.402l.01.104.022.26.008.104c.065.914.073 1.77.074 1.957v.075c-.001.194-.01 1.108-.082 2.06l-.008.105-.009.104c-.05.572-.124 1.14-.235 1.558a2.007 2.007 0 0 1-1.415 1.42c-1.16.312-5.569.334-6.18.335h-.142c-.309 0-1.587-.006-2.927-.052l-.17-.006-.087-.004-.171-.007-.171-.007c-1.11-.049-2.167-.128-2.654-.26a2.007 2.007 0 0 1-1.415-1.419c-.111-.417-.185-.986-.235-1.558L.09 9.82l-.008-.104A31.4 31.4 0 0 1 0 7.68v-.123c.002-.215.01-.958.064-1.778l.007-.103.003-.052.008-.104.022-.26.01-.104c.048-.519.119-1.023.22-1.402a2.007 2.007 0 0 1 1.415-1.42c.487-.13 1.544-.21 2.654-.26l.17-.007.172-.006.086-.003.171-.007A99.788 99.788 0 0 1 7.858 2h.193zM6.4 5.209v4.818l4.157-2.408L6.4 5.209z"/>
        </svg>
      </div>
    </div>
    <div class="spacer" style="height:32px;" id="color-picked"></div>
    <div class="navbar navbar-expand-lg bg-light rounded-pill d-flex justify-content-end" style="padding: 5px;margin:10px;background-image: linear-gradient(to right, white , black);">
      <div style="position: absolute; left: 10%;  z-index: 1;">
         <svg style="width:100%;" version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
            width="50px" height="50px" viewBox="0 0 307.388 303.733" enable-background="new 0 0 307.388 303.733"
            xml:space="preserve">
         <g>
           <path fill-rule="evenodd" clip-path="url(#cut-off-bottom)" fill="#090909" d="M138.978,0c10.667,0,21.334,0,32,0
             c2.875,1.417,6.07,1.409,9.119,2.051c49.993,10.526,88.909,35.955,111.26,83.29c12.915,27.354,19.19,55.877,14.459,86.331
             c-6.098,39.266-24.062,71.804-54.463,97.319c-23.762,19.942-52.001,29.868-82.201,33.889c-13.025,1.733-26.437,0.719-39.583-2.07
             c-44.923-9.529-80.794-31.863-104.292-72.293c-11.159-19.201-18.115-39.97-20.953-61.728c-1.764-13.522-1.144-27.522,1.809-41.141
             C19.627,63.418,56.508,22.903,117.857,4.891C124.833,2.842,132.412,3.632,138.978,0z M191.262,294.714
             c1.829,0.517,3.099,0.254,4.396-0.127c24.025-7.058,45.689-18.474,63.24-36.474c34.963-35.859,50.862-78.325,43.132-128.655
             c-4.454-28.999-15.688-54.855-35.612-76.536c-26.631-28.979-59.471-45.503-98.902-49.187c-25.54-2.385-47.604,3.574-65.746,22.546
             c-24.152,25.259-27.001,64.56-5.925,90.737c13.125,16.303,30.684,25.644,50.58,30.973c13.765,3.687,27.647,6.882,40.708,12.883
             c47.61,21.874,59.263,78.958,23.953,117.731C205.365,284.888,198.452,289.716,191.262,294.714z M155.584,239.135
             c7.29-0.031,12.487-5.223,12.528-12.514c0.042-7.624-5.143-12.725-12.829-12.619c-7.319,0.1-12.387,5.319-12.304,12.674
             C143.063,233.953,148.335,239.165,155.584,239.135z"/>
           <path fill-rule="evenodd" clip-path="url(#cut-off-bottom)" clip-rule="evenodd" fill="#00ACED" d="M191.262,294.714c7.189-4.998,14.103-9.826,19.823-16.108
             c35.31-38.773,23.657-95.857-23.953-117.731c-13.061-6.001-26.942-9.196-40.708-12.883c-19.896-5.329-37.455-14.67-50.58-30.973
             C74.768,90.841,77.618,51.54,101.77,26.281C119.911,7.31,141.975,1.351,167.515,3.735c39.432,3.684,72.271,20.207,98.902,49.187
             c19.924,21.681,31.158,47.537,35.612,76.536c7.73,50.33-8.169,92.796-43.132,128.655c-17.551,18-39.215,29.416-63.24,36.474
             C194.361,294.968,193.091,295.23,191.262,294.714z M155.639,89.199c7.437-0.017,12.507-5.088,12.532-12.537
             c0.027-7.561-5.307-12.774-12.951-12.661c-7.324,0.109-12.305,5.326-12.242,12.823C143.04,84.213,148.157,89.215,155.639,89.199z"
             />
           <path fill-rule="evenodd" clip-path="url(#cut-off-bottom)" clip-rule="evenodd" fill="#00ACED" d="M155.584,239.135c-7.249,0.03-12.522-5.182-12.604-12.459
             c-0.083-7.354,4.984-12.574,12.304-12.674c7.687-0.105,12.871,4.995,12.829,12.619
             C168.072,233.912,162.875,239.104,155.584,239.135z"/>
           <path fill-rule="evenodd" clip-rule="evenodd" fill="#090909" d="M155.639,89.199c-7.482,0.016-12.599-4.986-12.661-12.375
             c-0.063-7.497,4.918-12.714,12.242-12.823c7.645-0.113,12.979,5.101,12.951,12.661C168.146,84.111,163.076,89.183,155.639,89.199z"
             />
         </g>
         </svg>
      </div>
    <div class="d-flex justify-content-evenly" style="width:55%;">
      <div class="nav-item">
        <p><a class="nav-link" href="#">Home</a></p>
      </div>
      <div class="nav-item">
        <p><a class="nav-link" href="#">Why Us</a></p>
      </div>
      <div class="nav-item">
        <p><a class="nav-link" href="#">Services</a></p>
      </div>
      <div class="nav-item">
        <p><a class="nav-link" href="#">Book Now</a></p>
      </div>
      <div class="nav-item">
        <p><a class="nav-link" href="#">Contact</a></p>
      </div>
    </div>

    </div>
  </div>
</div>
<script type="text/javascript">
  var myModal = document.getElementById('exampleModal')
  var myInput = document.getElementById('modal-btn')
  var myColor = document.getElementById('color-picker')
</script>
<%- include("partials/footer"); -%>
